*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-family: "Inter", sans-serif;
}

header{

    background-color:white ;



}

/*common style */
.common-btn {
    background-color: #1d4ed8FF;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;




}

/* <!--Navbar start --> */

nav {
    display: flex;
    justify-content:space-between ;
    max-width: 1200px;
    margin: auto;
    padding: 8px ;
    

}

#nav-ul{ 
    display: flex;
    justify-content:center;
    list-style: none;
    gap: 20px;
    align-items: center;
    color: antiquewhite;
    

}


ul li a{
    text-decoration: none;
}
/* <!--Navbar end --> */

/* <!--Hero section start--> */

.hero-parent{
    background-image: url(image/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    text-align:center;
    color:#fff;
    width:70%
}
.middle h1{
    font-size:65px;
    font-weight:700;
    margin-bottom:20px;
}

.middle{
    font-style:italic;
}

.middle p{
    width:70%;
    margin:auto;
    font-size:18px;
    line-height:28px;
    margin-bottom:50px;
}

.btn{
    display:inline-block;
    text-decoration:none;
    background:#2563eb;
    color:#fff;
    padding:16px 40px;
    border-radius:8px;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.btn:hover{
    background:#1d4ed8;
}
/* <!--hero section end--> */

 /* <!--speakers section start--> */
.Speakers{
    text-align: center;
}

.Speakers-container{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

 
/* .Speakers-container img{
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 20px;
} */
.card{
    padding: 10px;
    margin: 10px;
   
}
/* <!--speakers section end--> */



/* .what-i-do-parent{
    margin: 60px auto;
    text-align: center;

}
.what-i-do-card{
    margin-top: 20px;

} */


/* <!-- pricing section start --> */

.pricing{
    width: 1452px;
    height: 659px;
    min-height: 100vh;
    background-color: #f3f4f6;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 50px;
    padding: 20px;

}
.pricing-header{
    margin-top: 30px;
    margin-bottom: 20px;

}
.pricing h2 {
    display: flex;
    justify-content: center;
}
.pricing p {
    display: flex;
    justify-content: center;
    
}

.what-i-do-card-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.what-i-do-card{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.what-i-do-card p {
    font-size: 22px;
    text-align: left;
}
.what-i-do-card h2 {
    font-size: 40px;
    margin: 20px 0 40px;
    font-weight: 500;
    text-align: left;
}
.what-i-do-card ul {
    text-align: left;
    margin: 20px 0;
    color: #4b5563;
}
.what-i-do-card ul li {
    margin: 10px 0;
}
.what-i-do-card-active{
   background:#0d1b2a;
   padding: 10% 15%; 
   border-radius: 10px;
   color:#fff;
  
}
.what-i-do-card-active p{
    font-size: 22px;
    text-align: left;
}
.what-i-do-card-active h2{
    font-size: 40px;
    margin: 20px 0 40px;
    font-weight: 500;
    text-align: left;
}
.what-i-do-card-active ul{
    text-align: left;
    margin: 20px 0;
    color: #fff;
}
.what-i-do-card-active ul li{
    margin: 10px 0;
}
.what-i-do-card button{
    width: 100%;
    padding: 14px 0;
    background:#fff;
    font-size: 15px;
    border: 1px solid #1d4ed8;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;

}
.what-i-do-card-active button{
    width: 100%;
    padding: 14px 0;
    background:#2563eb;
    font-size: 15px;
    
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

/* <!-- //pricing section end// --> */

/* <!-- //schedule section start// --> */

.schedule-section{
    width:90%;
    margin:80px auto;
    text-align:center;
}
.schedule-section h2{
    font-size:56px;
    font-weight:700;
    color:#05083b;
    margin-bottom:60px;
}
.schedule-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}
.schedule-card{
    width:300px;
    height:280px;
    border:2px solid #e2e2e2;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:.3s;
    background:#fff;
}
.schedule-card h3{
    font-size:34px;
    color:#0d5eff;
    font-weight:700;
    margin-bottom:30px;
}

.schedule-card p{
    font-size:24px;
    color:#222;

}

/* <!-- //schedule section end// --> */

/* <!-- footer section start --> */

.footer{
    width: 100%;
    background: #0f1d2d;
    padding: 35px 0;
}
.footer-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left p{
    color: #fff;
    font-size: 16px;
}
.footer-right{
    display: flex;
    gap: 30px;
}
.footer-right a{
    color: #7c8796;
    text-decoration: none;
    font-size: 16px;
   
}

/* <!-- footer section end --> */